img{
    width: 100px;
    height: auto;
    padding: 10px;

}
#img1{
float:right
}
#img2{
float:left
}

/*create nav bar for an website*/
ul{
    background-color: red;
    list-style-type: none;
   /* border: 1px solid yellow;*/
    overflow: auto;

}
li{
    color:white;
    padding:10px 20px;
    float: left;
}
p{
    border: 1px solid red;
   overflow: auto;

}
img{
    float: right;
    width: 100px;
    height: auto;
}
/*Using clear*/
#content{
background-color: yellowgreen;
float: left;
width: 70%;
height: 200px;

}
#sidebar{
    background-color: tomato;
    float: left;
    width: 30%;
    height: 150px;
    
}
#footer{
    background-color: silver;
    float: left;
    clear: both ;
    }