<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <title>My website</title>
  </head>
  <body>
      <div id="background">
        <p>Aliqua dolore laboris consequat quis sint aliqua. Aute velit minim veniam fugiat adipisicing minim excepteur dolor excepteur qui anim culpa. Id nostrud laborum minim excepteur est cillum velit adipisicing excepteur qui occaecat. Commodo excepteur velit commodo adipisicing esse pariatur. Aliquip aliquip veniam eu elit nisi culpa aute irure. Aliqua veniam sint sit esse excepteur sit nostrud pariatur.

Dolor minim ea aliqua exercitation. Lorem et amet commodo proident esse nostrud. Anim incididunt elit cillum reprehenderit deserunt.

Voluptate minim adipisicing cupidatat culpa ipsum veniam culpa. Veniam non nulla est ullamco tempor sit minim do officia sint consectetur. Ut nisi mollit deserunt ex quis. Proident mollit proident incididunt ullamco nisi laboris eiusmod sunt sint aliqua minim enim ut.

Excepteur non exercitation amet nisi tempor laborum. Non cillum proident incididunt irure esse amet qui aliqua voluptate. Fugiat consectetur do mollit voluptate nulla sint culpa dolore aute adipisicing nisi. Aliquip consequat pariatur ipsum aute id laborum reprehenderit. Aliqua cupidatat ad esse minim deserunt culpa sit. Cupidatat tempor laborum sunt ex adipisicing.

Esse aliqua ea incididunt ullamco non nulla consectetur. Ad elit aliquip officia anim tempor. Sunt voluptate deserunt ipsum ut. Quis ut mollit tempor occaecat mollit consectetur fugiat nostrud. Ullamco et aute in ipsum. Amet duis adipisicing irure occaecat ea cupidatat.

Deserunt velit ut irure laborum aute nisi reprehenderit sunt ea exercitation proident. Ex in ipsum et dolore eiusmod officia incididunt quis mollit exercitation ullamco incididunt ut. Voluptate eiusmod et culpa commodo cupidatat ad magna elit aute. Labore reprehenderit aliquip adipisicing officia do enim nisi id ipsum nostrud aliquip cupidatat velit. Ut quis et quis sint eu minim dolore pariatur in id. Dolor incididunt elit fugiat esse ad fugiat cillum amet adipisicing adipisicing.

Tempor aliquip aliquip et deserunt reprehenderit consectetur ullamco elit anim sunt amet consequat qui voluptate. Reprehenderit adipisicing esse esse eiusmod. Do eu nostrud aliquip sunt eu cillum nostrud velit ex eiusmod cupidatat. Quis cillum officia sint enim excepteur sit occaecat deserunt adipisicing duis officia. Sunt nostrud cupidatat id occaecat eiusmod cupidatat magna Lorem.

Laboris nisi minim ex do veniam. Commodo veniam officia enim occaecat fugiat laborum consequat. Incididunt reprehenderit deserunt mollit veniam commodo mollit et.

Commodo dolor ipsum excepteur ullamco mollit officia sint velit ipsum labore sunt dolor. Ullamco sunt sit est dolor ullamco ut. Ipsum Lorem laboris mollit ipsum aute aute esse elit dolor Lorem nisi velit. Proident aute reprehenderit aliquip laborum.

In aute mollit ex eu aliqua adipisicing consequat aliquip elit laborum est eu. Lorem id consectetur exercitation adipisicing excepteur duis amet voluptate commodo quis veniam excepteur labore. Qui enim aute dolor quis. Laborum pariatur deserunt irure est. Amet minim dolor ea nisi veniam magna et elit sint labore culpa officia qui. Anim voluptate velit ea consectetur velit elit cillum voluptate.
        </p>
     </div>

     <div id = "border">
         <p>Culpa adipisicing dolore occaecat consectetur ipsum amet labore dolor velit elit cupidatat quis enim. Ex eiusmod mollit laborum consectetur ipsum sunt enim. Ullamco excepteur nisi duis occaecat consequat consequat. Sit mollit fugiat aliquip fugiat excepteur nisi do ea ad. In aliqua laboris cillum ea amet enim ex eiusmod aute sunt in magna ipsum.</p> 
        </div>
   
        <div id = "height_width"> 
           <p>Quis et velit esse dolore ad incididunt excepteur do nostrud quis nostrud. Dolor non consectetur occaecat id ipsum fugiat in et excepteur reprehenderit exercitation minim nisi. Cillum sit labore occaecat laboris ex enim ex sit minim. Aliquip veniam nulla aute voluptate ullamco consectetur. Laborum est veniam deserunt cillum adipisicing est culpa sint ex. Consectetur duis proident et Lorem.

          </p>
        </div>

        <div>
          <p id= "padding">Consectetur duis amet occaecat pariatur non magna irure eiusmod culpa nisi. Nostrud et Lorem reprehenderit magna ad ad ut duis exercitation ex consequat velit amet ut. Culpa in occaecat fugiat sit dolore dolore adipisicing irure velit dolore velit adipisicing consequat minim.</p>
        </div>

        <div class = "margin">
      
        <div id = "margin1">
          <p>Dolore officia laborum Lorem sint elit. Commodo sint nostrud ad excepteur quis incididunt. Officia enim ea adipisicing occaecat. Consequat pariatur aute in veniam nulla cillum nulla esse duis ipsum ut excepteur. Duis enim sint culpa Lorem occaecat cillum.</p>
        </div>
        <div id = "margin2">
          <p>Dolore officia laborum Lorem sint elit. Commodo sint nostrud ad excepteur quis incididunt. Officia enim ea adipisicing occaecat. Consequat pariatur aute in veniam nulla cillum nulla esse duis ipsum ut excepteur. Duis enim sint culpa Lorem occaecat cillum.</p>
        </div>
        <div id= "margin3" >
          <p>Dolore officia laborum Lorem sint elit. Commodo sint nostrud ad excepteur quis incididunt. Officia enim ea adipisicing occaecat. Consequat pariatur aute in veniam nulla cillum nulla esse duis ipsum ut excepteur. Duis enim sint culpa Lorem occaecat cillum.</p>
        </div>

      </div>
      <div id= "text">
        <p>display the example of "text" <img  height = '70px' src = "./images/SMS.png"> functionality with CSS</p>
      </div>

      <div id= "shadow">
        <p >Text Shadow</p>
      </div>
      
  </body>
</html>
